<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942702798233-h9mvp32sqrqnfcr0m10s10fri7mq4ge3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942702798233-h9mvp32sqrqnfcr0m10s10fri7mq4ge3</string>
	<key>API_KEY</key>
	<string>AIzaSyAgShTsPLUjjUJMXPzMmKkMm6w37We6orI</string>
	<key>GCM_SENDER_ID</key>
	<string>942702798233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventico</string>
	<key>PROJECT_ID</key>
	<string>eventico-8b5e6</string>
	<key>STORAGE_BUCKET</key>
	<string>eventico-8b5e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942702798233:ios:9208a20164ff73ffb71f08</string>
</dict>
</plist>